@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --radius-5xl: 3rem;
}
